<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Main page</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
	<img id="shape-one" src="../static/images/shape-one.svg" alt="shape one">
	<img id="shape-two" src="../static/images/shape-two.svg" alt="shape two">
	<header>
		<nav id="header-nav">
			<a id="header-logo" href="main.html"><img src="../static/images/logo.svg" alt="header logo"></a>
			<a href="#">Documentation</a>
			<a class="text-ffffff bg-5d5dff" id="header-signup" href="signup.html">Sign Up</a>
		</nav>
	</header>

	<main>
		<section id="main-one" class="head-desc">
			<h1>Landing template for startups</h1>
			<p>Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.</p>
			<div class="inline-buttons">
				<a class="main-one-button text-ffffff bg-5d5dff" href="#">Start free trial</a>
				<a class="main-one-button bg-33363a" href="#">Learn more</a>
			</div>
			<img src="../static/images/video.png" alt="it's video">
		</section>
		<section id="main-two" class="head-desc">
			<h2>Build up the whole picture</h2>
			<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum — semper quis lectus nulla at volutpat diam ut venenatis.</p>
			<div id="features">
				<div class="feature-row">
					<div class="feature-block">
						<span class="feature-icon"><img src="../static/images/icon-1.svg" alt=""></span>
						<h4>Instant Features</h4>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
					</div>
					<div class="feature-block">
						<span class="feature-icon"><img src="../static/images/icon-2.svg" alt=""></span>
						<h4>Instant Features</h4>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
					</div>
					<div class="feature-block">
						<span class="feature-icon"><img src="../static/images/icon-3.svg" alt=""></span>
						<h4>Instant Features</h4>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
					</div>
				</div>
				<div class="feature-row">
					<div class="feature-block">
						<span class="feature-icon"><img src="../static/images/icon-4.svg" alt=""></span>
						<h4>Instant Features</h4>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
					</div>
					<div class="feature-block">
						<span class="feature-icon"><img src="../static/images/icon-5.svg" alt=""></span>
						<h4>Instant Features</h4>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
					</div>
					<div class="feature-block">
						<span class="feature-icon"><img src="../static/images/icon-6.svg" alt=""></span>
						<h4>Instant Features</h4>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
					</div>
				</div>
			</div>
		</section>
		<hr>
		<section id="main-three" class="head-desc">
			<span class="tag">Reach goals that matter</span>
			<h2>One product, unlimited solutions</h2>
			<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.</p>
			<div id="tabs">
				<div class="tab">
					<div class="tab-text">
						<span class="under-head">More speed. Less spend</span>
						<h3>Keep projects on schedule</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<ul>
							<li>Duis aute irure dolor in reprehenderit</li>
							<li>Excepteur sint occaecat</li>
							<li>Amet consectetur adipiscing elit</li>
						</ul>
					</div>
					<img src="../static/images/tab-1.png" alt="">
				</div>
				<div class="tab">
					<div class="tab-text">
						<span class="under-head">More speed. Less spend</span>
						<h3>Keep projects on schedule</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<ul>
							<li>Duis aute irure dolor in reprehenderit</li>
							<li>Excepteur sint occaecat</li>
							<li>Amet consectetur adipiscing elit</li>
						</ul>
					</div>
					<img src="../static/images/tab-2.png" alt="">
				</div>
				<div class="tab">
					<div class="tab-text">
						<span class="under-head">More speed. Less spend</span>
						<h3>Keep projects on schedule</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<ul>
							<li>Duis aute irure dolor in reprehenderit</li>
							<li>Excepteur sint occaecat</li>
							<li>Amet consectetur adipiscing elit</li>
						</ul>
					</div>
					<img src="../static/images/tab-3.png" alt="">
				</div>
			</div>
		</section>
		<hr>
		<section id="main-four" class="head-desc">
			<h2>Don't take our word for it</h2>
			<p>Vitae aliquet nec ullamcorper sit amet risus nullam eget felis semper quis lectus nulla at volutpat diam ut venenatis tellus—in ornare.</p>
			<div id="reviews">
				<div class="review">
					<span class="review-avatar-block">
						<img class="review-avatar" src="../static/images/avatar-1.png" alt="avatar">
						<img src="../static/images/quotes.svg" alt="quotes" class="review-quotes">
					</span>
					<p>— Open PRO lets me quickly get the insights I care about so that I can focus on my productive work. I've had Open PRO for about 24 hours now and I honestly don't know how I functioned without it before.</p>
					<hr>
					<p class="reviewer">Anastasia Dan <span class="review-slash">/</span> <span class="review-company">UX Board</span></p>
				</div>
				<div class="review">
					<span class="review-avatar-block">
						<img class="review-avatar" src="../static/images/avatar-2.png" alt="avatar">
						<img src="../static/images/quotes.svg" alt="quotes" class="review-quotes">
					</span>
					<p>— Open PRO lets me quickly get the insights I care about so that I can focus on my productive work. I've had Open PRO for about 24 hours now and I honestly don't know how I functioned without it before.</p>
					<hr>
					<p class="reviewer">Roman Level <span class="review-slash">/</span> <span class="review-company">AppName</span></p>
				</div>
				<div class="review">
					<span class="review-avatar-block">
						<img class="review-avatar" src="../static/images/avatar-3.png" alt="avatar">
						<img src="../static/images/quotes.svg" alt="quotes" class="review-quotes">
					</span>
					<p>— Open PRO lets me quickly get the insights I care about so that I can focus on my productive work. I've had Open PRO for about 24 hours now and I honestly don't know how I functioned without it before.</p>
					<hr>
					<p class="reviewer">Akex Sackett <span class="review-slash">/</span> <span class="review-company">Reform Layouts</span></p>
				</div>
			</div>
		</section>
	</main>

	<footer>
		<div id="footer-top">
			<div id="footer-top-text">
				<h4>Stay in the loop</h4>
				<p>Join our newsletter to get top news before anyone else.</p>
			</div>
			<div id="footer-top-form">
				<form action="">
					<label><input type="email" id="form-email" placeholder="Your best email..."></label>
					<button id="submit" value="Subscribe">Subscribe</button>
				</form>
			</div>
		</div>
		<div id="footer-bottom">
			<div id="footer-bottom-info">
				<div id="footer-bottom-desc">
					<img src="../static/images/logo.svg" alt="logo">
					<p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
				</div>
				<div id="footer-bottom-links">
					<div class="footer-bottom-links-block">
						<h6>Products</h6>
						<ul>
							<li>Web Studio</li>
							<li>DynamicBox Flex</li>
							<li>Programming Forms</li>
						</ul>
					</div>
					<div class="footer-bottom-links-block">
						<h6>Resources</h6>
						<ul>
							<li>Nostrud exercitation</li>
							<li>Visual mockups</li>
							<li>Nostrud exercitation</li>
							<li>Visual mockups</li>
							<li>Nostrud exercitation</li>
						</ul>
					</div>
					<div class="footer-bottom-links-block">
						<h6>Company</h6>
						<ul>
							<li>Consectetur adipiscing</li>
							<li>Labore et dolore</li>
							<li>Consectetur adipiscing</li>
							<li>Labore et dolore</li>
							<li>Consectetur adipiscing</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="footer-bottom-social">
				<div id="footer-copyright">&copy; 2020 Open PRO. All rights reserved.</div>
				<div id="footer-social">
					<a href="#"><img src="../static/images/twitter.svg" alt="twitter icon"></a>
					<a href="#"><img src="../static/images/github.svg" alt="github icon"></a>
					<a href="#"><img src="../static/images/facebook.svg" alt="facebook icon" width="35%"></a>
					<a href="#"><img src="../static/images/instagram.svg" alt="instagram icon"></a>
					<a href="#"><img src="../static/images/linkedin.svg" alt="linkedin icon"></a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>