<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
<img id="shape-one" src="../static/images/shape-one.svg" alt="shape one">
<header>
    <nav id="header-nav">
        <a id="header-logo" href="main.html"><img src="../static/images/logo.svg" alt="header logo"></a>
    </nav>
</header>
<main>
    <section class="head-desc">
        <h1>Welcome back. We exist to make entrepreneurism easier.</h1>
    </section>
    <section class="sign-form">
        <div><button id="google-auth" class="w-100" type="submit">
            <span id="google-text">Sign in with Google</span>
            <i></i>
        </button></div>
        <div><span id="email-reg" class="w-100 middle-hr">Or, sign in with your email</span></div>
        <div><label>
            Full Name <span class="reg-star">*</span>
            <input type="text" placeholder="First and last name">
        </label></div>
        <div><label>
            Password <span class="reg-star">*</span>
            <input type="text" placeholder="Password (at least 10 characters)">
        </label></div>
        <div id="forgot-password-div">
            <div><label class="checkbox-label">
                <span id="forgot-password-checkbox-text">Keep me signed in</span>
                <input type="checkbox" name="" id="">
                <span class="checkmark"></span>
            </label></div>
            <div><a id="forgot-password-link" class="text-5d5dff" href="#">Forgot Password?</a></div>
        </div>
        <div><button id="sign-button" type="submit">Sign in</button></div>
        <div class="text-center"><span class="text-9ba9b4">Don't you have an account? <a href="signup.html" id="sign-up-sign-in-link">Sign up</a></span></div>
    </section>
</main>
</body>
</html>