<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
    <img id="shape-one" src="../static/images/shape-one.svg" alt="shape one">
    <header>
        <nav id="header-nav">
            <a id="header-logo" href="main.html"><img src="../static/images/logo.svg" alt="header logo"></a>
        </nav>
    </header>
    <main>
        <section class="head-desc">
            <h1>Welcome. We exist to make entrepreneurism easier.</h1>
        </section>
        <section class="sign-form">
            <div class="m-12"><button id="google-auth" class="w-100" type="submit">
                <span id="google-text">Sign up with Google</span>
                <i></i>
            </button></div>
            <div class="text-center"><span id="email-reg" class="w-100 middle-hr">Or, register with your email</span></div>
            <div><label>
                Full Name <span class="reg-star">*</span>
                <input type="text" placeholder="First and last name">
            </label></div>
            <div><label>
                Company Name <span class="reg-star">*</span>
                <input type="text" placeholder="Your company or app name">
            </label></div>
            <div><label>
                Work Email <span class="reg-star">*</span>
                <input type="email" placeholder="your@yourcompany.com">
            </label></div>
            <div><label>
                Password <span class="reg-star">*</span>
                <input type="text" placeholder="Password (at least 10 characters)">
            </label></div>
            <div class="text-center"><span class="text-707d86 text-16">I agree to be contacted by Open PRO about this offer as per the Open PRO <a class="text-9ba9b4 text-underline" href="#">Privacy Policy</a>.</span></div>
            <div><button id="sign-button" type="submit">Sign up</button></div>
            <div class="text-center"><span class="text-9ba9b4">Already using Open PRO? <a href="signin.html" id="sign-up-sign-in-link">Sign in</a></span></div>
        </section>
    </main>
</body>
</html>